body {
    font-family: Helvetica, sans-serif;
    background-color: darkcyan;
    color: white;
}

a:link {
    color: black;
}

a:visited {
  color: blue;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

nav a {
    border-style: groove;
    padding: 8px;
    background-color: coral;
}

img {
    display: block;
    margin: auto;
    width: 45%;
    border: solid 5px darkgray;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

section h2 {
    text-align: center;
}

p {
    font-size: 16px;
    border-top: solid 3px lightgray;
    border-bottom: solid 3px lightgray;
    padding: 5px;
    background-color: rgb(75, 73, 86);
}

.buttonToggle {
    background-color: coral;
}

.buttonHead {
    display: flex;
    flex-direction: row;
}

table {
    border: solid 3px darkgray;
}

table th {
    border-bottom: solid 2px black;
}

table tr {
    text-align: left;
}

.firstColumn {
    border-right: solid 2px black;
}

#cssButton {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: auto;
    justify-content: center;
    box-shadow: 3px 3px 3px black;
    background-color: coral;
}

#siteHeader {
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 2px black;
    animation-name: rotateHeader;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotateHeader {
    0% {rotate(45deg)}
    25% {rotate(-45deg}
    50% {rotate(45deg}
    75% {rotate(-45deg}
    100% {rotate(45deg}
}
header h3 {
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
}

#footer {
    text-align: center;
}

div table {
    margin: auto;
    width: 500px;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
}

div table caption {
    padding-top: 20px;
}

.sectionList {
    columns: 2;
    margin: auto;
    background-color: darkred;
    border: dotted 3px black;
    animation-name: changeColors;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes changeColors {
  from { background-color: darkred;  }
  to   { background-color: darkorange; }
}

li {
    padding: 4px;
}

.externalLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
